@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Beau+Rivage&family=Exo:ital,wght@1,500&family=Send+Flowers&display=swap');

html {font-size: 100%;} /*16px*/


body {
    margin: 0;
    padding: 0;
    background-image: url('../image/gym.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-weight: 400;
    line-height: 1.75;
}

.webTitle {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: cursive;
    font-size: 150px;
}

#content {
    color:rgba(0, 217, 255, 0.733);
    text-align: center;
    font-family: 'Ane Odia';
    font-size: 50px;
    
}

#register {
    color:rgb(255, 255, 255);
    font-family:fantasy
}

.box {
    position: relative;
    top: 50%;
    left: 30%;
    width: 300px;
    height: 400px;
    padding: 40px;
    background: rgb(116, 57, 3);
    margin: 15%;
    border:rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 70%;
}

form { 
    margin: auto;
    position: absolute;
}

div{
    display: block;
    font-family:'Times New Roman', Times, serif!important;
}

p {
    text-align: center;
    font-size:40px;
}

.emailInput, .phoneInput, .firstNameInput, .lastNameInput {
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
}

#emailInput, #phoneInput, #firstNameInput, #lastNameInput {
    height: 30px;
    width: 250px;
}

.check {
    margin-bottom: 12px;
    vertical-align: middle;
}
label {
    margin-bottom: 7px;
    vertical-align: middle;
}


button {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    height: 50px;
    width: 150px;
    left: 70px;
}


@media (min-width: 650px) {
	html {
		height: 100%
	}
	body {
		height: 100%;
	}
	.main {
		flex-direction: row;
		height: calc(100% - 50px);
	}
	.info {
		flex: 30px;
		height: auto;
	}
	p {
		padding-top: 10px;
	}
}
@media (min-width: 1000px) {
	html {
		height: 100%
	}
	body {
		height: 100%;
	}
	.main {
		flex-direction: row;
		height: calc(100% - 50px);
		padding-right: 15%;
		padding-left: 10%;
	}
	.info {
		flex: 30px;
		height: auto;
	}
	p {
		padding-top: 10px;
	}
}

  
